<form action ="/payment/results">
  <div>
  <label for="alice">APR</label>
  <input id="alice" type="text" name="user_apr" placeholder="E.g. 5.42"> 
  </div>
  <div>
  <label for="bob">Number of years</label>
  <input id="bob" type="text" name="user_years" placeholder="How many years to repay?"> 
  </div>
  <div>
  <label for="jeff">Principal</label>
  <input id="jeff" type="text" name="user_pv" placeholder="How much principal?"> 
  </div>
  <div> 
  <button>Calculate monthly payment</button>
  </div>
